
:root {
	--clear-button-bg: #367f05;
	--clear-button-color: #fff;

	--contact-photo-width: 30%;
	--contact-info-width: 60%;
	--contact-remove-width: 10%;

	--contact-photo-height: 100%;
	--contact-info-height: 100%;
	--contact-remove-height: 100%;

	--default-radius: 10px;

	--font-size-default: 15px;
	--font-size-little: 13px;
}


.list-contacts {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ------------------------- SEARCH BAR ------------------------- */
.list-contacts .input-search {
	margin: 10px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list-contacts .input-search input {
	width: 60%;
	padding: 10px;
	font-size: 18px;
	border-radius: 8px;
	outline: none;
}

/* ------------------------- CONTACTS FOUND AND CLEAR QUERY ------------------------- */
.list-contacts .found-number {
	display: flex;
	align-items: center;
}

.found-number .search-length {
	margin: 10px 0;
	font-size: 18px;
}

.found-number .clear-button {
	width: 70px;
	height: 30px;
	margin: 10px;
	border-radius: 10px;
	border: none;
	background: var(--clear-button-bg);
	color: var(--clear-button-color);
	font-weight: bold;
	cursor: pointer;
}

/* ------------------------- CONTACT CARDS LIST ------------------------- */
.contacts-list {
	list-style: none;
	width: 100%;
}

.contacts-list li {
	border: 1px solid #c4c4c4;
	border-radius: var(--default-radius);
	width: 80%;
	height: 120px;
	margin: 20px 0;
	display: flex;
	align-items: center;
}

.contact-photo {
	width: var(--contact-photo-width);
	height: var(--contact-photo-height);
	border: 1px solid #c4c4c4;
	border-radius: var(--default-radius);
	margin-right: 10px;
}

.contact-photo .photo {
	width: 100%;
	height: 100%;
	border-radius: var(--default-radius) 0 0 var(--default-radius);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-area {
	width: var(--contact-info-width);
	height: var(--contact-info-height);
}

.contact-area .info {
	height: var(--contact-info-height);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.contact-area .info .name {
	font-weight: bold;
	font-size: var(--font-size-default);
}
.contact-area .info .link {
	font-size: var(--font-size-little);
}

.remove-area {
	width: var(--contact-remove-width);
	height: var(--contact-remove-height);
	border-radius: var(--default-radius);
	display: flex;
	align-items: center;
	justify-content: center;
}

.remove-area i {
	cursor: pointer;
}

.remove-area :hover {
	color: red;
}